@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

body, #root{
  background-color: #212121;
  min-height: 100vh;
}

.main-header {
  font-family: 'Montserrat', sans-serif;
}

.create-form label {
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.content {
  border: 1px solid;
  padding: 46px;
  border-radius: 10px;
  box-shadow: 0+0+32px white;

}

.ui.button {
  margin-top: 18px;
}

.ui.form input:not([type]),
.ui.form input:not([type]):focus,
.ui.checkbox label:before,
.ui.checkbox label:hover::before,
.ui.checkbox input:checked~label:after {
  background: #ffffff17 !important;
}

.ui.table {
  box-shadow: 0+0+32px #ffffff45;
}

.ui.checkbox input:checked~label:after,
.ui.form input:not([type]) {
  color: #fff !important;
}

/* select도 색깔 통일 시켜야 함*/
.create-form select,
.create-form input{
  background: #ffffff17 !important;
  color: whitesmoke !important;
  
  padding: 0.6rem 1em !important;
}

/* select option 색깔 색상*/
.create-form select option{
  background-color: #212121;
}

/* update는 드롭다운으로 되어있음*/
.ui.dropdown{
  background: #ffffff17 !important;
  color: whitesmoke !important;
}

.ui.dropdown .text{
  color: whitesmoke !important;
}

.ui.dropdown .menu .item.selected{
  color: whitesmoke !important;
}
.ui.dropdown .menu .item{
  background-color: #212121 !important;
  color: whitesmoke !important;
}

.ui.dropdown .menu .item:hover{
  background-color: blue !important;
}
